<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ElpisRemote.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ElpisRemote.Windows.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <ElpisRemote.Windows.Properties.Settings>
            <setting name="ElpisServerAddress" serializeAs="String">
                <value>http://127.0.0.1:35747/</value>
            </setting>
        </ElpisRemote.Windows.Properties.Settings>
        <ElpisRemote.Windows.UserSettings>
            <setting name="ElpisServerAddress" serializeAs="String">
                <value>http://127.0.0.1:35747</value>
            </setting>
        </ElpisRemote.Windows.UserSettings>
    </userSettings>
</configuration>
